section {
  margin-top: 10px;

  > div.master {
    background: #f8fbfd;
    border: solid 1px #e8e8e8;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 20px;

    > div {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      > span {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 60%;
        color: #94a5a6;
        i {
          color: #94a5a6;
          margin-right: 10px;
        }

        h4 {
          color: #94a5a6;
          font-weight: 500;
          font-size: 3vw;
        }
        li {
          margin-left: 30px;
          color: #94a5a6;
          font-weight: 500;
          font-size: 3vw;
        }

        h3 {
          color: #17a085;
          text-align: end;
          font-size: 3.3vw;
          width: 100%;
        }

        .seats {
          color: #e74c3c;
        }
      }
      > :nth-child(2) {
        width: 30%;
      }

      .selector {
        background: #ecf0f1;
        border-radius: 12px;
        margin: 0;
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        padding-left: 16px;
        padding-right: 16px;
        color: #2c3e50;

        h4 {
          font-size: 3vw;
          font-weight: 500;
        }
      }
    }
    .head {
      align-items: flex-start;
      img {
        width: 12vw;
        height: 12vw;
        margin-right: 10px;
      }

      > div {
        width: 30%;

        span {
          color: #2c3e50;
          font-size: 3vw;
          display: flex;
          justify-content: flex-start;

          h4 {
            color: #94a5a6;
            font-weight: 500;
            font-size: 4vw;
            width: fit-content;
            margin-right: 2px;
          }
          h3 {
            color: #2c3e50;
            font-weight: 600;
            font-size: 4vw;
            width: fit-content;
          }
          h5 {
            color: #94a5a6;
            font-weight: 500;
            font-size: 3vw;
          }
        }
      }
      > :nth-child(4) {
        text-align: end;
        span {
          justify-content: flex-end;
        }
      }
      > :nth-child(3) {
        height: 100%;
        text-align: center;
        margin: auto;

        h5 {
          color: #94a5a6;
          font-weight: 500;
          font-size: 2.5vw;
        }
      }
    }

    .divider {
      width: calc(100% - 20px);
      margin: auto;
      margin-top: 10px;
      height: 1px;
      background: #ecf0f1;
      padding: 0;
    }
  }

  .info {
    margin-top: 20px;
    padding: 20px;

    h3 {
      color: #3a91f7;
      font-weight: 600;
      font-size: 4.8vw;
    }

    .selector {
      border: solid 1px #94a5a6;
      border-radius: 12px;
      margin: 0;
      margin-top: 10px;
      width: fit-content;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 20px;

      h4 {
        font-weight: 500;
      }

      i {
        margin-left: 20px;
      }
    }

    input {
      border: solid 1px #94a5a6;
      border-radius: 12px;
      margin: 0;
      margin-top: 10px;
      width: calc(100% - 40px);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 3vw;
      font-size: 4vw;
      margin-bottom: 20px;
      outline: none;

      &.small {
        width: 10%;
      }
    }

    h6 {
      color: #2c3e50;
      font-size: 3vw;
      font-weight: 500;
    }

    h5 {
      margin-top: 20px;
      color: #7f8c8d;
      font-size: 3.5vw;
      font-weight: 500;
    }
  }
}

button {
  font-size: 2vh;
  background: #3a91f7;
  color: #fff;
  font-weight: 400;
  padding: 10px;
  width: calc(100% - 20px);
  margin: 10px;
  border-radius: 1000px;
  letter-spacing: 1px;
  outline: none;
}

.traveller {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: calc(100vw - 20px);
  padding: 10px;
  align-items: center;
  background: #ecf0f1;

  div {
    width: 40%;
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 3.4vw;
      font-weight: 300;
      color: #2c3e50;
    }
    h4 {
      font-size: 3.6vw;
      font-weight: 600;
      color: #3a91f7;
    }
  }

  i {
    color: #94a5a6;
    font-size: 6vw;
  }
}
