section {

  .number{
    color: #3a91f7;
    font-weight: 500;
    font-size: 3vw;
    width: 12vw;
  }

  .container{
    background: #F8F8F8;
    border: solid 1px #E0E0E0;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 20px;

    .header{
      margin: 20px;
      justify-content: space-between;

      h4{
        // color: #3a91f7;
        font-size: 3vw;
        font-weight: 500;
        width: 100%;
        text-align: center;
      }

      h3{
        color: #2C3E50;
        font-size: 3.6vw;
      }
    }

    .list{
      border-top: solid 0.1px #CED7D8;
      justify-content: space-between;

      h4 {
        white-space:pre-wrap;
        width: calc(100% - 40px);
        text-align: start;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        background: #0000;
        border: none;
        outline: none;
      }

      &.row{
        margin: 20px;

        h4{
          width: 100%;
          text-align: center;
          margin-left: 0;
          margin-right: 0; 
        }
      }

      h4{
        margin: 20px;
        text-align: start;
        color: #2C3E50;
        font-size: 3vw;
        font-weight: 500;
        margin-top: 10px;
      }

      .col{
        h4{
          font-weight: 600;
        }
      }
    }
  }

  img {
    width: 12vw;
    height: 12vw;
    margin-right: 10px;
  }

  .headings {
    justify-content: space-between;
    padding: 20px;
    align-items: center;

    img {
      width: auto;
      height: 8vh;
    }

    h4 {

      &.rans{
        font-weight: 400;
        color: #3a91f7;
        background: #f8f8f8;
        padding: 4px;
        border-radius: 1000px;
        padding-left: 20px;
        padding-right: 20px;
        background: #FFF;
      }
    }
  }

  > div.master {
    background: #fdfdfd;
    border: solid 1px #e2e2e2;
    border-radius: 30px;
    padding: 20px;

    .airline {
      justify-content: flex-start;
      margin-bottom: 20px;

      img{
        margin-right: 20px;
        width: 5vh;
        height: 5vh;
      }

      h4 {
        font-weight: 600;
        color: #2c3e50;
      }

      h5 {
        font-weight: 500;
        color: #2c3e50;

        &.large{
          font-size: 4vw;
        }
      }
    }

    > div {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      > span {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 60%;
        color: #2c3e50;
        i {
          color: #2c3e50;
          margin-right: 10px;
        }

        h4 {
          color: #2c3e50;
          font-weight: 500;
          font-size: 3vw;
        }
        li {
          margin-left: 30px;
          color: #2c3e50;
          font-weight: 500;
          font-size: 3vw;
        }

        h3 {
          color: #17a085;
          text-align: end;
          font-size: 3.3vw;
          width: 100%;
        }

        .seats {
          color: #e74c3c;
        }
      }
      > :nth-child(2) {
        width: 30%;
      }

      .selector {
        background: #ecf0f1;
        border-radius: 12px;
        margin: 0;
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        padding-left: 16px;
        padding-right: 16px;
        color: #2c3e50;

        h4 {
          font-size: 3vw;
          font-weight: 500;
        }
      }
    }
    .head {
      align-items: flex-start;

      > div {
        width: 30%;

        span {
          color: #2c3e50;
          font-size: 3vw;
          display: flex;
          justify-content: flex-start;

          h4 {
            color: #2c3e50;
            font-weight: 500;
            font-size: 4vw;
            width: fit-content;
            margin-right: 2px;
          }
          h3 {
            color: #2c3e50;
            font-weight: 600;
            font-size: 4vw;
            width: fit-content;
          }
          h5 {
            color: #2c3e50;
            font-weight: 500;
            font-size: 3vw;
          }
        }
      }
      > :nth-child(3) {
        text-align: end;
        span {
          justify-content: flex-end;
        }
      }
      > :nth-child(2) {
        height: 100%;
        text-align: center;
        margin: auto;

        h5 {
          color: #2c3e50;
          font-weight: 500;
          font-size: 2.5vw;
        }
      }
    }

    .divider {
      width: calc(100% - 20px);
      margin: auto;
      margin-top: 10px;
      height: 1px;
      background: #ecf0f1;
      padding: 0;
    }
  }

  .info {
    margin-top: 20px;
    padding: 20px;

    h3 {
      color: #3a91f7;
      font-weight: 600;
      font-size: 4.8vw;
    }

    .selector {
      border: solid 1px #2c3e50;
      border-radius: 12px;
      margin: 0;
      margin-top: 10px;
      width: fit-content;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 20px;

      h4 {
        font-weight: 500;
      }

      i {
        margin-left: 20px;
      }
    }

    input {
      border: solid 1px #94a5a6;
      border-radius: 12px;
      margin: 0;
      margin-top: 10px;
      width: calc(100% - 40px);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 3vw;
      font-size: 4vw;
      margin-bottom: 20px;
      outline: none;

      &.small {
        width: 10%;
      }
    }

    h6 {
      color: #2c3e50;
      font-size: 3vw;
      font-weight: 500;
    }

    h5 {
      margin-top: 20px;
      color: #2c3e50;
      font-size: 3.5vw;
      font-weight: 500;
    }
  }
}

button {
  font-size: 2vh;
  background: #3a91f7;
  color: #fff;
  font-weight: 400;
  padding: 10px;
  width: calc(100% - 20px);
  margin: 10px;
  border-radius: 1000px;
  letter-spacing: 1px;
  outline: none;
}

.traveller {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: calc(100vw - 20px);
  padding: 10px;
  align-items: center;
  background: #ecf0f1;

  div {
    width: 40%;
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 3.4vw;
      font-weight: 300;
      color: #2c3e50;
    }
    h4 {
      font-size: 3.6vw;
      font-weight: 600;
      color: #3a91f7;
    }
  }

  i {
    color: #2c3e50;
    font-size: 6vw;
  }
}

.dcolor{
  font-weight: 400;
  background: #f8f8f8;
  padding: 4px;
  border-radius: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  color: #e74c3c;
  font-weight: 600;
}

.ccolor{
  color: #17a085;
  font-weight: 400;
  background: #f8f8f8;
  padding: 4px;
  border-radius: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
}

.dcolor-i{
  color: #e74c3c !important;
}

.ccolor-i{
  color: #17a085 !important;
}