

section{
    margin-top: 10px;

    >div.master{
        background: #F8FBFD;
        border: solid 1px #E8E8E8;
        border-radius: 30px;
        padding: 20px;

        >div{
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            >span{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 60%;
                color: #94A5A6;
                i{
                    color: #94A5A6;
                    margin-right: 10px;
                }

                h4{
                    color: #94A5A6;
                    font-weight: 500;
                    font-size: 3vw;
                }
                li{
                    margin-left: 30px;
                    color: #94A5A6;
                    font-weight: 500;
                    font-size: 3vw;
                }

                h3{
                    color: #17A085;
                    text-align: end;
                    font-size: 3.3vw;
                    width: 100%;
                }

                .seats{
                    width: 200%;
                    color: #E74C3C;
                }

            }>:nth-child(2){
                width: 30%;
            }

            .selector{
                background: #ECF0F1;
                border-radius: 12px;
                margin: 0;
                width: 50%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 8px;
                padding-left: 16px;
                padding-right: 16px;
                color: #2C3E50;

                h4{
                    font-size: 3vw;
                    font-weight: 500;
                }
            }

        }.head{
            align-items: flex-start;
            img{
                width: 12vw;
                height: 12vw;
                margin-right: 10px;
            }

            >div{
                width: 30%;

                span{
                    color: #2C3E50;
                    font-size: 3vw;
                    display: flex;
                    justify-content: flex-start;

                    h4{
                        color: #94A5A6;
                        font-weight: 500;
                        font-size: 4vw;
                        width: fit-content;
                        margin-right: 2px;
                    }
                    h3{
                        color: #2C3E50;
                        font-weight: 600;
                        font-size: 4vw;
                        width: fit-content;
                    }
                    h5{
                        color: #94A5A6;
                        font-weight: 500;
                        font-size: 3vw;
                    }
                }
            }
            >:nth-child(4){
                text-align: end;
                span{
                    justify-content: flex-end;
                }
            }
            >:nth-child(3){
                height: 100%;
                text-align: center;
                margin: auto;

                h5{
                    color: #94A5A6;
                    font-weight: 500;
                    font-size: 2.5vw;
                }
            }
        }

        .divider{
            width: calc(100% - 20px);
            margin: auto;
            margin-top: 10px;
            height: 1px;
            background: #ECF0F1;
            padding: 0;
        }
    }

}
