<section>

    <div class="header"></div>

    <div class="body">

        <img src="assets/images/congo.png">

        <h3>Congratulations</h3>
        <h4>
            Your Ticket request has been<br>successfully Submitted
        </h4>

        <div class="card">
            <span>
                <h5>Booking request ID : </h5>
                <h6>{{
                        localStorage.getItem('code')
                    }}
                </h6>
            </span>
            <h2>Our Executive contact you in 2-4hr for
                confirmation</h2>
        </div>

        <div class="save">
            <img src="">

            <h4 [routerLink]="'/ticket/' + localStorage.getItem('code')" >Save this page</h4>
        </div>

    </div>

</section>