

section{
    background: linear-gradient(to right bottom, rgb(230, 230, 230), rgb(255, 255, 255));
    height: 120vh;
    transition-duration: 1s;

    span{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60%;
        position: static;

        h4{
            color: #FFF;
            margin-left: 10px;
        }
    }

    &.collapse{
        height: 23vh;
    }
}