

section{
    width: 100%;
    padding: 20px;
    padding-bottom: 0;
    width: calc(100% - 40px);

    .selector-destination{
        width: calc(100% - 40px);
        span{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: #3A91F7;

            h4{
                font-weight: 600;
            }

            i{
                margin-right: 10px;
            }
        }

        .selector{
            background: #ECF0F1;
            border-radius: 12px;
            margin: 0;
            margin-top: 10px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .selector-date{        
        width: calc(100% - 40px);
        margin-top: 20px;
        span{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: #3A91F7;

            h4{
                font-weight: 600;
            }

            i{
                margin-right: 10px;
            }
        }

        .selector{
            background: #ECF0F1;
            border-radius: 12px;
            margin-top: 10px;
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            padding: 12px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .selector-flights{        
        margin-top: 20px;
        span{
            width: calc(100% - 40px);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: #3A91F7;

            h4{
                font-weight: 600;
            }

            i{
                margin-right: 10px;
            }
        }
    }
}

/*

    <span>
        <img src="assets/images/takeoff.svg">
        <h4>OffTicket</h4>
    </span>

    <div class="selector">
        <h4>Select</h4>
        <i class="fas fa-chevron-down"></i>
    </div>


*/


.selector-date-cal {
    // width: calc(100% - 40px);
    background: #f7fcff;
    border: solid 1px #e2e2e2;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px;
    margin-left: -20px;
    width: calc(100%);
  
    .mat-calendar-content .mat-calendar-table .mat-calendar-table-header tr th {
      font-weight: 500 !important;
    }
  }
  
  .calendar-wrapper {
    ::ng-deep .mat-calendar-body-cell-content {
      color: rgba(0, 0, 0, 0.87);
      border: none;
      font-weight: 600;
      border-radius: 10px !important;
      border-color: #ffffff;
    }
  
    ::ng-deep .special-date {
      background-color: #3a91f7;
      border-radius: 10px;
  
      ::ng-deep .mat-calendar-body-cell-content{
        color: #FFF;
      }
    }
  
    ::ng-deep .mat-calendar-period-button.mat-button-base {
      background: none;
  
      ::ng-deep .mat-button-wrapper {
        font-weight: 600;
        font-size: 4vw;
      }
    }
  
    ::ng-deep .mat-calendar-table-header-divider {
      padding: 0 !important;
    }
  
    ::ng-deep .mat-icon-button.mat-button-base {
      border-radius: 10px;
      background: none;
      border: solid 1px #3a91f7;
    }
  
    ::ng-deep .mat-calendar-body-label {
      // color: rgb(255, 255, 255);
      visibility: hidden;
      height: 0;
      padding: 0 !important;
      font-size: 4vw;
      font-weight: 700;
    }
  
    ::ng-deep .mat-calendar-table-header {
      color: rgb(0, 0, 0);
      font-weight: 600 !important;
    }
  
    ::ng-deep .mat-calendar-table {
      border-spacing: 5px;
      border-collapse: separate;
      width: 100%;
    }
  
    ::ng-deep .custom-date-class {
      background: #534fff;
      border-radius: 6%;
    }
  
    ::ng-deep .mat-calendar-body-today.mat-calendar-body-selected {
      box-shadow: none !important;
    }
  
    ::ng-deep .mat-calendar-body-selected {
      background-color: #ecf0f1;
      color: #3a91f7;
      border-radius: 5px !important;
    }
  
    ::ng-deep .custom-date-class {
      background: linear-gradient(to left bottom, #e83f94, #f54e5e);
      border-radius: 6%;
    }
  
    ::ng-deep .mat-calendar-body-cell-content {
    }
  }
  
  .custom-date-class {
    background: linear-gradient(to left bottom, #e83f94, #f54e5e) !important;
    border-radius: 100%;
  }
  