
section{
    background: rgba(44, 62, 80, 0.76);
    position: fixed;
    width: 100vw;
    height: 0;
    opacity: 0;
    pointer-events: all;
    bottom: 0;
    transition-duration: 0.8s;

    i{
        cursor: pointer;
        position: absolute;
        top: calc(100vh - 64px);
        width: 16px;
        height: 16px;
        text-align: center;
        left: calc(50% - 16px);
        color: #FFF;
        background: rgba(255, 255, 255, 0.37);
        padding: 10px;
        border-radius: 100%;
    }

    .itemList{
        background: #FFF;
        border-radius: 20px;
        top: calc(30vh - 74px);
        width: 100vw;
        max-height: 60vh;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: scroll;

        h3{
            font-weight: 500;
            padding: 20px;
            font-size: 4vw;
        }
    }

}.show{
    height: 100%;
    opacity: 1;
    top:0;
    bottom: 0;
}

/*

    <i class="fas fa-times"></i>

    <div class="itemList">

        <h3 *ngFor="let item of list">{{item}}</h3>

    </div>

*/