/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap");

@import "~ng-pick-datetime/assets/style/picker.min.css";

// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
html,
body {
    margin: auto;
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.row{
  display: flex;
  justify-content: flex-start;
}

.col{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.ok{
  background: #27AE60;
  color: #FFF;
}

.danger{
  background: #FE5F55;
  color: #FFF;
}

.cool{
  background: #3A91F7;
  color: #FFF;
}