<section>

    <div class="bottom-bar">
        <button *ngIf="state >= 2 && state <= 3">Proceed</button>

        <div *ngIf="state == 5" class="traveller">
            <div>
                <h3>Total fare</h3>
                <h4>₹{{price}}</h4>
            </div>
            <i class="fas fa-info-circle"></i>
            <!-- <button>Submit Request</button> -->
        </div>
    </div>

    <app-selectors *ngIf="state <= 3"></app-selectors>

    <app-available-flights *ngIf="state >= 2 && state <= 3"></app-available-flights>

    <app-tnc *ngIf="state == 4"></app-tnc>

    <app-traveller-details *ngIf="state == 5"></app-traveller-details>

    <app-congo *ngIf="state == 6"></app-congo>

    <app-info-map></app-info-map>

</section>